<footer class="footer">
  <small>
    The Sample App by<a href="https://grackanil.top">Grac Kanil</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="https://grackanil.top">Grac Kanil</a></li>
    </ul>
  </nav>
</footer>